body {
    background-color: #009688;
    font-family: sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    max-width: 60em;
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    height: 95vh;
}

#who {
    padding: 0.5em;
    height: 4em;
    border-bottom: 1px solid #d7d0ca;
}

#who img {
    float: left;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    vertical-align: middle;
}

#who-nom {
    padding-top: 1em;
}

#who-when {
    font-size: small;
    color: #5f5f5f;
}

#speech-container {
    background-image: url('background.png');
    background-repeat: repeat;
    overflow: scroll;
    flex-grow: 1;
}

.bubble {
    background-color: white;
    border-radius: 2px;
    max-width: 30em;
    margin: 0.5em;
    padding: 0.5em;
    display: block;
    position: relative;
}

.bubble.you {
    background-color: #dcf8c6;
    margin-left: auto;
}

.bubble .timestamp {
    font-size: x-small;
    color: #5f5f5f;
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
}

#input-container {
    display: flex;
    flex-direction: row;
}

#inputbox {
    background-color: white;
    margin: 0.5em;
    flex-grow: 1;
    min-height: 3em;
    border-radius: 2px;
    padding: 0.5em;
    outline: 0px solid transparent;
}
